{% extends "layout.html" %} {% block head %}
<link rel="stylesheet" href="../static/style/account.css" />
{% endblock head %}{% block body %}
<header>
  <img
    id="backArrow"
    onclick="prevPage()"
    src="../static/images/backArrow.svg"
    alt="Back Arrow Icon"
  />
  <h4>My Account</h4>
</header>
<form action="#">
  <label for="image">
    <div class="profile">
      <div class="profileImg">Add profile picture</div>
      <p>Change profile picture</p>
    </div>
  </label>
  <input type="image" src="" alt="" />
</form>
<section class="account">
  <form id="account_form" action="#" autocomplete="on" method="post">
    <label for="firstName">First Name</label>
    <input type="text" />
    <label for="OtherNames">Other Names</label>
    <input type="text" />
    <label for="displayName">Display Name</label>
    <input type="text" />
    <label for="changePassword">Change Password</label>
    <input type="text" />
    <button type="submit">
      <a href="{{ url_for('signout') }}">Log Out</a>
    </button>
  </form>
</section>
<script src="../static/scripts/account.js"></script>
{% endblock body %}
