{% extends "layout.html" %} {% block head %}
<link rel="stylesheet" href="../static/style/features.css" />
{% endblock head %}{% block body %}
<div class="main-container">
  <nav>
    <div class="s-screen navBar-bg">
      <div class="navBar">
        <a href="/" class="logo">
          <img src="../static/images/lytrally-logo.jpeg" alt="Lytrally" />
          <h1>Lytrally</h1>
        </a>
        <!-- <i id="openNav" class="fa-solid fa-bars"></i> -->
        <div class="hamburgerContainer">
          <div class="profilePic">
            <a href="/account"
              ><img class="profilePic" src="{{ image_file }}" alt=""
            /></a>
          </div>
          <div>
            <input
              class="features_menu_toggle"
              type="checkbox"
              name="hamburger"
              id="hamburger"
            /><label class="menu-btn-label" for="hamburger"
              ><span class="hamburger"></span
            ></label>
          </div>
        </div>
      </div>
      <div class="featuresDisplay">
        <ul>
          <li>File</li>
          <li>Edit</li>
          <li class="toolsToggle">Tools</li>
          <div class="tools">
            <ul>
              <li>Ghostwritting</li>
              <li>Ghostwritting</li>
              <li>Ghostwritting</li>
              <li>Ghostwritting</li>
              <li>Ghostwritting</li>
            </ul>
          </div>
          <li>Help</li>
          <li>Share</li>
        </ul>
      </div>
    </div>
    <div class="l-screen navBar-bg">
      <a href="/" class="logo">
        <img src="../static/images/lytrally-logo.jpeg" alt="Lytrally" />
        <h1>Lytrally</h1>
      </a>
      <div class="navbar-menu">
        <ul class="nav">
          <li class="nav-item"><span class="nav-link">File</span></li>
          <li class="nav-item"><span class="nav-link">Edit</span></li>
          <li class="nav-item" id="toolsToggle"><span class="nav-link">Tools</span></li>
          <div class="tools" id="tools">
            <ul>
              <li>Ghostwritting</li>
              <li>Ghostwritting</li>
              <li>Ghostwritting</li>
              <li>Ghostwritting</li>
              <li>Ghostwritting</li>
            </ul>
          </div>
          <li class="nav-item"><span class="nav-link">Help</span></li>
          <li class="nav-item"><span class="nav-link">Share</span></li>
        </ul>
      </div>
      <div class="profilePic">
        <a href="/account"
          ><img class="profilePic" src="{{ image_file }}" alt=""
        /></a>
      </div>
    </div>
  </nav>
  <section class="featuresSection">
    <div class="features">
      <div class="defaultWrittingFeature featureSection">
        <div class="defaultWritting">
          <div class="workSpace">
            <form action="#" autocomplete="on" method="post">
              {{ form.hidden_tag() }}
              <div>{{ form.title(class="form-control") }}</div>
            </form>
          </div>
          <div class="workSpace">
            <form action="#" autocomplete="on" method="post">
              {{ form.hidden_tag() }}
              <div>{{ form.content(class="form-control")|safe }}</div>
            </form>
            {{ ckeditor.load() }} {{ ckeditor.config(name='content', width=800,
            height=1000) }}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script src="../static/scripts/features.js"></script>
{% endblock body %}
