{% extends "layout.html" %} {% block head %}
<link rel="stylesheet" href="../static/style/features.css" />
{% endblock head %}{% block body %}
<div class="main-container">
  <nav>
    <div class="s-screen">
      <div class="navBar">
        <a href="/">
          <img src="../static/images/lytrally-logo.jpeg" alt="Lytrally" />
        </a>
        <!-- <i id="openNav" class="fa-solid fa-bars"></i> -->
        <div class="hamburgerContainer">
          <input
            class="menu-btn"
            type="checkbox"
            name="hamburger"
            id="hamburger"
          /><label class="menu-btn-label" for="hamburger"
            ><span class="hamburger"></span
          ></label>
        </div>
      </div>
      <div class="navDisplay">
        <ul>
          <li><a class="navA" href="#">File</a></li>
          <li><a class="navA" href="#">Edit</a></li>
          <li><a class="navA" href="#">Tools Us</a></li>
          <li><a class="navA" href="#">Help</a></li>
          <li><a class="navA" href="#">Share</a></li>
        </ul>
      </div>
        <div class="profilePic">
          <a href="/account"
            ><img
              class="profilePic"
              src="{{ image_file }}"
              alt="user profile pic"
          /></a>
        </div>
    </div>
    <div class="l-screen">
      <a href="/">
        <img
          class="logoHeader"
          src="../static/images/lytrally-logo.jpeg"
          alt="Lytrally"
        />
      </a>
      <div class="menu-bar">
        <ul class="menu">
          <li class="menu-bar-item"><a class="" href="/">File</a></li>
          <li class="menu-bar-item"><a class="" href="#">Edit</a></li>
          <li class="menu-bar-item"><a class="" href="#">Tools</a></li>
          <li class="menu-bar-item"><a class="" href="#">Help</a></li>
          <li class="menu-bar-item"><a class="" href="#">Share</a></li>
        </ul>
      </div>
        <div class="profilePic">
          <a href="/account"
            ><img class="profilePic" src="{{ image_file }}" alt="user profile pic"
          /></a>
        </div>
    </div>
  </nav>
  <section class="featuresSection">
    <div class="features">
      <div class="defaultWrittingFeature featureSection">
        <div class="defaultWritting">
          <div class="workSpace">
            <form action="#" autocomplete="on" method="post">
              {{ form.hidden_tag() }}
              <div>{{ form.title(class="form-control") }}</div>
            </form>
          </div>
          <div class="workSpace">
            <form action="#" autocomplete="on" method="post">
              {{ form.hidden_tag() }}
              <div>
                {{ form.content(class="form-control")|safe }}
              </div>
            </form>
             {{ ckeditor.load() }}
             {{ ckeditor.config(name='content', width=800, height=1000) }}
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>
</div>
<script src="../static/scripts/features.js"></script>
{% endblock body %}
