<!-- This is the base template every other webpage inherits from to avoid repetitive code -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Between the code-blocks below, all unique code (for the head block) for each webpage will be inserted -->
    {% block head %}{% endblock head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- The block below allows changing each page's title easily from app.py -->
    {% if title %}
    <title>Lytrally - {{ title }}</title>
    {% else %}
    <title>Lytrally</title>
    {% endif %}
    <!-- <base href="/project-lytrally/"> -->
    <link
      rel="shortcut icon"
      href="../static/images/lytrally-logo.jpeg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../static/style/style.css" />
    <link rel="stylesheet" href="../static/style/fontawesome.min.css" />
    <link rel="stylesheet" href="../static/style/all.min.css" />
    <link rel="stylesheet" href="../static/style/solid.css" />
    <link rel="stylesheet" href="../static/style/solid.min.css" />
  </head>
  <body>
    {% if page != "features" %} {% if page != "Home" %}
    <nav>
      <div class="s-screen navBar-bg">
        <div class="navBar">
          <!-- {% if page == "account" %}
          <h1 class="logo"><img src="../static/images/lytrally-logo.jpeg" alt="" /></h1>
          {% else %} -->
          <h1>
            <a href="/" class="logo"
              ><img src="../static/images/lytrally-logo.jpeg" alt="" />
              Lytrally</a
            >
          </h1>
          <!-- {% endif %} -->
          <!-- <i id="openNav" class="fa-solid fa-bars navBarChange"></i> -->
          <div class="hamburgerContainer">
            <input
              class="menu-btn"
              type="checkbox"
              name="hamburger"
              id="hamburger"
            /><label class="menu-btn-label" for="hamburger"
              ><span class="hamburger"></span
            ></label>
          </div>
        </div>
        <div class="navDisplay">
          <ul>
            <li><a class="navA" href="/">Home</a></li>
            <li><a class="navA" href="#">Service</a></li>
            <li><a class="navA" href="#">Contact Us</a></li>
            <li><a class="navA" href="#">About</a></li>
            <!-- <a class="navA" href="{{ url_for('signup') }}">Sign Up</a> -->
            {% if page == "signin" %}
            <li><a id="signUp" class="navA" href="/signup">Sign Up</a></li>
            {% elif page == "account" %}
            <li>
              <!-- <img
                  class="gear navA"
                  src="../static/images/icons/gear.svg"
                  alt="A svg gear icon"
                /> -->
              <i class="fa-solid fa-gear gear navA"></i>
            </li>
            {% else %}
            <li><a id="signIn" class="navA" href="/signin">Sign In</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="gearDropdown">
          <div class="gearRow">
            <img
              src="../static/images/icons/notification.svg"
              alt="A svg icon of a bell, a notification icon"
            />
            <p>Notification</p>
            <div class="notificationToggle toogleContainerOn">
              <div class="toggle toggleOn"></div>
            </div>
          </div>
          <div class="gearRow">
            <img
              src="../static/images/icons/Reminder.svg"
              alt="A svg icon of a hand, a reminder icon"
            />
            <p>Reminder</p>
          </div>
          <div class="reminderDetails">
            <span>Default</span>
            <div class="reminderDays">
              <div class="daysRow">
                <div class="daysSet"><p>Set Reminder</p></div>
                <div class="days">
                  <p>1 day</p>
                  <p>1 week</p>
                  <p>2 weeks</p>
                  <p>1 month</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="l-screen navBar-bg">
        {% if page == "account" %}
        <h1 class="logo"><img src="../static/images/lytrally-logo.jpeg" alt="" /></h1>
        {% else %}
        <h1>
          <a href="/" class="logo"
            ><img src="../static/images/lytrally-logo.jpeg" alt="" />Lytrally</a
          >
        </h1>
        {% endif %}
        <div class="navbar-menu">
          <ul class="nav">
            <li class="nav-item"><a class="nav-link color-effect" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link color-effect" href="#">Service</a></li>
            <li class="nav-item">
              <a class="nav-link color-effect" href="#">Contact Us</a>
            </li>
            <!-- <button><a class="nav-link" href="../templates/signup.html">Sign Up</a></button> -->
            {% if page == "signin" %}
            <li class="nav-item">
              <button><a class="nav-link" href="/signup">Sign Up</a></button>
            </li>
            {% elif page == "account" %}
            <li class="nav-item">
              <!-- <img
                  class="gear lsGear"
                  src="../static/images/icons/gear.svg"
                  alt="A svg gear icon"
                /> -->
              <i class="fa-solid fa-gear gear lsGear"></i>
            </li>
            {% else %}
            <li class="nav-item">
              <button><a class="nav-link" href="/signin">Sign In</a></button>
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="gearDropdown lsGearDropdown">
          <div class="gearRow">
            <!-- <img
                src="../static/images/icons/notification.svg"
                alt="A svg icon of a bell, a notification icon"
              /> -->
            <i class="fa-solid fa-bell"></i>
            <p>Notification</p>
            <div
              class="notificationToggle lsNotificationToggle toogleContainerOn"
            >
              <div class="toggle lsToggle toggleOn"></div>
            </div>
          </div>
          <div class="gearRow">
            <img
              src="../static/images/icons/Reminder.svg"
              alt="A svg icon of a hand, a reminder icon"
            />
            <p>Reminder</p>
          </div>
          <div class="reminderDetails">
            <span>Default</span>
            <div class="reminderDays">
              <div class="daysRow">
                <div class="daysSet"><p>Set Reminder</p></div>
                <div class="days">
                  <p>1 day</p>
                  <p>1 week</p>
                  <p>2 weeks</p>
                  <p>1 month</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    {% else %}
    <nav>
      <div class="s-screen">
        <div class="navBar">
          <h1>
            <a href="/" class="logo"
              ><img
                src="../static/images/lytrally-logo.jpeg"
                alt=""
              />Lytrally</a
            >
          </h1>
          <!-- <i id="openNav" class="fa-solid fa-bars"></i> -->
          <div class="hamburgerContainer">
            <input
              class="menu-btn"
              type="checkbox"
              name="hamburger"
              id="hamburger"
            /><label class="menu-btn-label" for="hamburger"
              ><span class="hamburger"></span
            ></label>
          </div>
        </div>
        <div class="navDisplay">
          <ul>
            <li><a class="navA" href="#">Home</a></li>
            <li><a class="navA" href="#">Service</a></li>
            <li><a class="navA" href="#">Contact Us</a></li>
            <li><a class="navA" href="#">About</a></li>
            <!-- <a class="navA" href="{{ url_for('signup') }}">Sign Up</a> -->
            <li><a id="signIn" class="navA" href="/signin">Sign In</a></li>
          </ul>
        </div>
      </div>
      <div class="l-screen">
        <h1>
          <a href="/" class="logo"
            ><img src="../static/images/lytrally-logo.jpeg" alt=""/>Lytrally</a
          >
        </h1>
        <div class="navbar-menu">
          <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Service</a></li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
            <!-- <button><a class="nav-link" href="../templates/signup.html">Sign Up</a></button> -->
            <li class="nav-item">
              <button><a class="nav-link" href="/signin">Sign In</a></button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% endif %} {% endif %}
    <!-- The script below includes script for the navbar -->
    <script src="../static/scripts/script.js"></script>
    <!-- Between the code-blocks below, all unique code (for the body block) for each webpage will be inserted -->
    <!-- Flash messages for notifications -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div
      class="alert alert-{{ category }} alert-dismissible fade show"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %} {% endwith %} {% block body %}{% endblock body %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
