{% extends "layout.html" %} {% block head %}
<link rel="stylesheet" href="../static/style/signup.css" />
{% endblock head %}{% block body %}
<body>
  <nav>
    <div class="profileImg"></div>
  </nav>
  <section>
    <div class="container">
      <div class="signUpForm">
        <form action="" id="signup_form" autocomplete="on" method="POST">
          {{ form.hidden_tag() }}
          <fieldset>
            <legend>
              Ready to unleash your creativity to the fullest? Sign up!
            </legend>
            <div class="form-group">
              {{ form.email.label(class="form-control-label") }} {% if
              form.email.errors %} {{ form.email(class="form-control
              form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{ form.email(class="form-control form-control-lg") }}
              {% endif %}
            </div>

            <div class="form-group">
              {{ form.password.label(class="form-control-label") }} {% if
              form.password.errors %} {{ form.password(class="form-control
              form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{ form.password(class="form-control form-control-lg")
              }} {% endif %}
            </div>

            <div class="form-group">
              {{ form.confirm_password.label(class="form-control-label") }} {%
              if form.confirm_password.errors %} {{
              form.confirm_password(class="form-control form-control-lg
              is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.confirm_password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{ form.confirm_password(class="form-control
              form-control-lg") }} {% endif %}
            </div>

            <div class="form-check">
              {% if form.policy_agreement.errors %} {{
              form.policy_agreement(class="form-control form-control-lg
              is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.policy_agreement.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{ form.policy_agreement(class="form-control
              form-control-lg") }}
              <span
                >I agree with <a href="#">privacy</a> and
                <a href="#">policy</a></span
              >
              {% endif %}
            </div>

            <div class="form-group">
              {{ form.submit_to_register(class="btn btn-outline-info
              submitForm") }}
            </div>
            <a class="signin" href="{{ url_for('signin') }}">Or Sign In</a>
          </fieldset>
        </form>
      </div>
    </div>
  </section>
  {% endblock body %}
</body>
