* 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body 
{
    background: #F3F6FC;
    display: flex;
    flex-direction: column;
}

header, .account 
{
    padding-inline: 36px;
}

header 
{
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 29px;
}

header > img 
{
    width: 25.581px;
    height: 20px;
    margin-right: 72.42px;
}


header > img:hover
{
    cursor: pointer;
}

.profile 
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-bottom: 13px;
}

.profileImg 
{
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    background-color: #FFF;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-bottom: 33px;
}

.profileImg:hover 
{
    background-color: #8A9AC5;
}

.profile p 
{
    text-align: right;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 33px;
}

.profile p:hover 
{
    color: #8A9AC5;
}

#account_form 
{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.account label 
{
    display: block;
    margin-left: 28px;
    margin-bottom: 10px;
    color: #000;
    /* text-align: center; */
    font-family: Roboto Slab;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 26.4px */
}

.account input 
{
    display: block;
    margin-bottom: 10px;
    padding-inline: 16px;
    border-radius: 20px;
    border: 3px solid #000;
    background: #FFF;
    font-size: 20px;
    width: 80%;
    height: 50px;
    flex-shrink: 0;
    transition: width 2s ease-in-out;
}

.account input:focus 
{
    width: 100%;
    outline: none;
}

.account button 
{
    width: 150px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 3px solid #000;
    background: #8A9AC5;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 41px;
    margin-left: auto;
    /* margin-right: auto; */
}

.account button:hover 
{
    opacity: 0.8;
}

@media screen and (min-width: 720px) 
{
    .account 
    {
        padding-inline: 95px;
    }
    
    .profileImg 
    {
        width: 300px;
        height: 300px;
        flex-shrink: 0;
        font-size: 32px;
        border-radius: 200px;
        margin-bottom: 33px;
    }
    
    .profile p 
    {
        font-size: 32px;
    }
    
    .account label 
    {
        font-size: 32px;
    }
    
    .account input 
    {
        width: 500px;
        height: 91px;
    }
}