* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  /* Font sizes */
  --font-size-sm: 16px;
  --font-size-m: 20px;
  --font-size-l: 24px;
  --font-size-xl: 26px;
  --font-size-xxl: 30px;
  --font-title: 40px;

  /* Font Family */
  --inter-font: inter;
  --roboto-font: Roboto Slab;
  --Inria-font: Inria Serif;

  /* Colors */
  --off-white-color: #f3f6fc;
  --lilac-color: #8a9ac5;
  --black-color: #000;
  --dull-black: #252222;
  --button-background-color: #6a7db1;
  --grey-color: #8b8585;
  --link-hover-color: #ffd700;
  --active-feature-background: #8a9ac5;
  --less-black: #1e1e1e;
  --dropdown-bg: #dbd7d7;
  --nav-link-hover: rgb(136, 61, 211);

  /* Motion */
  --transition-duration: 0.3s;
  --transition-cubic-bezier: cubic-bezier(0.17, 0.67, 0, 1.01);
}

body {
  background: var(--off-white-color);
}

.main-container {
  /* padding-top: 0 !important; */
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
}

.profileDetails {
  padding-inline: 36px;
}

header {
  margin-bottom: 29px;
}

/* .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
}

.header > img:hover {
  cursor: pointer;
} */

.profilePicContainer input {
  display: none;
}

.profileImg {
  /* width: 125px; */
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 33px;
}

.profileImg label {
  width: 50%;
  height: 100%;
  margin-inline: auto;
  border-radius: 1000px;
}

.profileImg label:hover {
  cursor: pointer;
}

.profileImg img {
  width: 100%;
  height: auto;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 1000px;
}

.media-body {
  font-size: var(--font-size-sm);
}

.media-body p {
  /* text-align: right; */
  color: #000;
  font-family: Inter;
  /* font-size: 20px; */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* margin-right: 33px; */
}

.media-body p:hover {
  color: #8a9ac5;
}

.media-body .update {
  color: var(--lilac-color);
}

.media-body .update:hover {
  color: var(--active-feature-background);
  cursor: pointer;
}

.profileDetails button {
  width: 150px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 3px solid #000;
  background-color: #8a9ac5;
  margin-top: 41px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all var(--transition-duration) var(--transition-cubic-bezier);
}

.profileDetails button:hover {
  background-color: var(--off-white-color);
  border-color: var(--active-feature-background);
}

.profileDetails button > a {
  color: var(--off-white-color);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  transition: all var(--transition-duration) var(--transition-cubic-bezier);
}

.profileDetails button:hover a {
  color: var(--active-feature-background);
}

.profileForm {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
  padding-bottom: 20px;
  overflow: hidden auto;
}

#profileForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  background-color: var(--off-white-color);
  border-radius: 25px;
  padding-inline: calc(5% + 1vmin);
  padding-block: calc(20px + 1vmin);
}

#profileForm h1 {
  color: var(--black-color);
  margin-bottom: 20px;
}

.closeFormContainer {
  width: 100%;
  display: flex;
  justify-content: right;
}

.closeFormContainer i {
  font-weight: 600;
  font-size: var(--font-size-m);
  color: var(--black-color);
}

.closeFormContainer i:hover {
  color: var(--active-feature-background);
  cursor: pointer;
}

.profileForm input[type="submit"] {
  width: 150px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 3px solid #000;
  background: #8a9ac5;
  color: var(--off-white-color);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
  margin-left: auto;
  /* margin-right: auto; */
  transition: all var(--transition-duration) var(--transition-cubic-bezier);
}

.profileForm input[type="submit"]:hover {
  background-color: var(--off-white-color);
  color: var(--active-feature-background);
  border-color: var(--active-feature-background);
}

.profileContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profileContainer .row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  padding-left: 5px;
}

.profileContainer .row:focus-within {
  border-left: 4px solid var(--lilac-color);
}

.col label {
  display: block;
  margin-left: 28px;
  color: var(--dull-black);
  /* text-align: center; */
  font-family: Roboto Slab;
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 26.4px */
}

.col input {
  display: block;
  padding-inline: 16px;
  border-radius: 20px;
  border: 3px solid var(--dull-black);
  background: var(--off-white-color);
  font-size: var(--font-size-m);
  width: 80%;
  height: 60px;
  flex-shrink: 0;
  transition: width 2s ease-in-out;
}

.col input:focus {
  width: 100%;
  outline: none;
  border-color: var(--active-feature-background);
}

@media screen and (min-width: 768px) {
  .profileDetails {
    padding-inline: 50px;
  }

  .profileImg label {
    width: 300px;
    height: 300px;
    border-radius: 200px;
    margin-bottom: 33px;
  }

  .profile p {
    font-size: 32px;
  }

  /* .header {
    font-size: var(--font-size-xxl);
  }

  .header img {
    width: 40px;
  } */

  .profileDetails label {
    font-size: var(--font-size-l);
  }

  .profileDetails input {
    width: 80%;
    font-size: var(--font-size-l);
    padding-block: 30px;
  }

  #profileForm {
    padding-inline: calc(2% + 1vmin);
  }
}

@media (min-width: 1024px) {
  .profileContainer {
    width: 570px;
    gap: 50px;
    margin-top: 20px;
    padding-inline: 0;
  }

  .profileContainer .row {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    margin: 0;
  }

  .row div:first-child {
    width: calc(160px + 2vw);
    margin: 0;
  }

  .row div:last-child {
    flex-grow: 2;
  }

  .col label {
    margin: 0;
  }

  .profileDetails button {
    width: auto;
    border-radius: 15px;
    padding: 15px 30px;
    font-size: var(--font-size-xl);
  }
}

/* main-container content styling as a result of navbar position for Normal phone screen */
@media screen and (max-height: 700px) {
  .main-container {
    /* padding-top: calc(300px + 1vmin); */
    padding-top: 70px !important;
  }
}

@media (min-height: 740px) and (max-height: 800px) {
  .main-container {
    padding-top: calc(70px + 1vmin) !important;
  }
}

/* main-container content styling as a result of navbar position for  Longer Phone screens */
@media (min-height: 800px) and (max-height: 1200px) {
  .main-container {
    padding-top: 80px !important;
  }
}

/* main-container content styling as a result of navbar position for  laptop and bigger screen query */
@media (min-width: 1024px) and (min-height: 600px) {
  .main-container {
    padding-top: calc(70px + 1vmin) !important;
  }
}

/* main-container content styling as a result of navbar position for  ipad screen query */
@media (min-width: 800px) and (max-height: 1400px) and (max-width: 1024px) {
  .main-container {
    padding-top: 100px !important;
  }
}

/* main-container content styling as a result of navbar position for  Next Hub screen query */
@media (width: 1024px) and (height: 600px) {
  .main-container {
    padding-top: 80px !important;
  }
}

/* main-container content styling as a result of navbar position for  Surface Duo screen query */
@media (max-width: 540px) and (min-height: 720px) {
  .main-container {
    padding-top: 70px;
  }
}

/* profileForm content styling as a result of navbar position for Normal phone screen */
@media screen and (max-height: 700px) {
  .profileForm {
    /* padding-top: calc(300px + 1vmin); */
    padding-top: 150px; /* Added 130px due to the navbar position */
  }
}

@media (min-height: 740px) and (max-height: 800px) {
  .profileForm {
    padding-top: calc(
      120px + 1vmin
    ); /* Added 130px due to the navbar position */
  }
}

/* profileForm content styling as a result of navbar position for  Longer Phone screens */
@media (min-height: 800px) and (max-height: 1200px) {
  .profileForm {
    padding-top: 60px; /* Added 130px due to the navbar position */
  }
}

/* profileForm content styling as a result of navbar position for  laptop and bigger screen query */
@media (min-width: 1024px) and (min-height: 600px) {
  .profileForm {
    padding-top: calc(
      250px + 1vmin
    ); /* Added 130px due to the navbar position */
  }
}

/* profileForm content styling as a result of navbar position for  ipad screen query */
@media (min-width: 800px) and (max-height: 1400px) and (max-width: 1024px) {
  .profileForm {
    padding-top: 20px; /* Added 130px due to the navbar position */
  }
}

/* profileForm content styling as a result of navbar position for  Next Hub screen query */
@media (width: 1024px) and (height: 600px) {
  .profileForm {
    padding-top: 270px; /* Added 130px due to the navbar position */
  }
}

/* profileForm content styling as a result of navbar position for  Surface Duo screen query */
@media (width: 540px) and (height: 720px) {
  .profileForm {
    padding-top: 130px;
  }
}

/* profileForm content styling as a result of navbar position for  Surface Duo screen query */
@media (width: 280px) and (height: 653px) {
  .profileForm {
    padding-top: 200px;
  }
}
