* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root 
{
    --font-size-sm: 16px;
    --font-size-m: 20px;
    --font-size-l: 24px;
    --font-size-xl: 26px;
    --font-size-xxl: 30px;
    --font-title: 40px;
    --inter-font: inter;
    --white-color: #F3F6FC;
    --lilac-color: #8A9AC5;
    --black-color: #000;
    --dull-black: #252222;
    --roboto-font: Roboto Slab;
    --Inria-font: Inria Serif;
    --button-background-color: #6a7db1;
    --grey-color: #8b8585;
    --link-hover-color: #FFD700;
}

body {
    width: 100%;
    background: url(../images/compressed_a_fountain_pen_on_a_blue_notepad_shot_at_a_cinematic_angle\,_blue_aesthetics-min.png), var(--lilac-color) 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: calc(15px + 1vmax);
    padding-top: calc(250px + 1vmax);
    padding-bottom: 20px;
    /* margin-bottom: 20px; */
    /* background: #F3F6FC; */
    overflow: auto;
}

.main-container .mainContainer {
    width: auto;
    height: auto;
    background-color: var(--white-color);
    margin-top: calc(50px + 1vmax);
    border-radius: 25px;
    padding-inline: calc(5% + 1vmin);
    padding-block: calc(20px + 1vmin);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainContainer h4 {
    font-weight: bold;
    font-size: var(--font-size-xl);
    text-align: center;
    color: var(--dull-black);
    margin-bottom: 2rem;
}
.mainContainer button {
    width: 100%;
    height: 70px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    border-radius: 20px;
    border: 3px solid #000;
    padding: 20px 36px;
    background: #FFF;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 23px;
}

.mainContainer button:hover {
    background-color: var(--lilac-color);
    color: var(--white-color);
}

.mainContainer button > img {
    width: 25px;
    height: 25px;
    margin-right: 24.55px;
}

.signInContainer {
    width: 100%;
}

#signin_form {
    display: flex;
    flex-direction: column;
}
.signInContainer label {
    display: block;
    margin-left: 28px;
    margin-bottom: 10px;
    color: var(--dull-black);
    /* text-align: center; */
    font-family: Roboto Slab;
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 26.4px */
}

.signInContainer input {
    display: block;
    margin-bottom: 30px;
    padding-inline: 16px;
    border-radius: 20px;
    border: 3px solid var(--dull-black);
    background: var(--white-color);
    font-size: var(--font-size-m);
    width: 80%;
    height: 60px;
    flex-shrink: 0;
    transition: width 2s ease-in-out;
}

.signInContainer input:focus {
    width: 100%;
    outline: none;
}
.form-check {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    color: var(--dull-black);
    margin: 0 !important;
    padding: 0 !important;
    gap: 20px;
}

.form-check > input[type="checkbox"]{
    display: inline;
    transition: none;
    width: 30px;
    height: 30px;
    background: #FFF;
    margin: 0;
}

.form-check > input:focus {
    display: inline;
    transition: none;
    width: 30px;
    height: 30px;
    border-radius: 1000px;
    border: 1px solid #000;
    background: #FFF;
    margin: 0;
    /* margin-right: 18px; */
}
.form-check > label {
    display: inline;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.forgotPassword {
    display: flex;
    justify-content: right;
    color: var(--dull-black);
    font-family: Inter;
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 10px;
}

.forgotPassword a:hover {
    color: var(--lilac-color);
}

.submitForm {
    display: flex !important;
    width: 100% !important;
    height: auto !important;
    padding: 15px 10px !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 20px !important;
    background: #8A9AC5 !important;
    color: var(--white-color) !important;
    font-family: Inter !important;
    font-size: 20px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: normal !important;
    border: none !important;
    margin-block: 20px !important;
}

.submitForm:hover {
    opacity: 0.8 !important;
    background-color: rebeccapurple !important;
}

.noAccount {
    width: 214px;
    text-align: right;
    margin-left: auto;
    color: #000;
    font-family: Inria Serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 25px;
}
.main-container a:hover {
    color: #8A9AC5;
}

.main-container button:hover {
    opacity: 0.8;
}

/* Tablet Screen */
@media screen and (min-width: 768px) {
    .main-container label {
        font-size: var(--font-size-l);
    }
    .main-container input {
        font-size: var(--font-size-l);
    }
    span {
        font-size: var(--font-size-l);
    }
    .submitForm {
        font-size: var(--font-size-l) !important;
    }
}

/* Laptop Screen */
@media screen and (min-width: 1024px) {
    .main-container label {
        font-size: var(--font-size-xl);
    }
    .main-container input {
        font-size: var(--font-size-xl);
    }
    span {
        font-size: var(--font-size-xl);
    }
}

/* Large screen */
@media screen and (min-width: 1444px) {
    .main-container label {
        font-size: var(--font-size-xxl);
    }
    .main-container input {
        font-size: var(--font-size-xxl);
    }
    span {
        font-size: var(--font-size-xxl);
    }
}