<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lytrally</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/fontawesome.min.css">
    <link rel="stylesheet" href="../style/all.min.css">
    <link rel="stylesheet" href="../style/solid.css">
    <link rel="stylesheet" href="../style/solid.min.css">
</head>
</head>
<body>
    <nav>
        <div class="s-screen">
            <h1><a href="index.html">Lytrally</a></h1>
            <a href="signin.html"><i id="openNav" onclick="OpenNavLinks()" class="fa-solid fa-bars"></i></a>
        </div>
        <div class="l-screen">
            <h1><a href="index.html">Lytrally</a></h1>
            <div class="navlinks">
                <a href="index.html">Home</a>
                <a href="#">Service</a>
                <a href="#">Contact Us</a>
                <button><a href="./signup.html">Sign Up</a></button>
                <button><a href="./signin.html">Sign In</a></button>
            </div>
        </div>
    </nav>
    <section class="landingPage">
        <div class="heroPage">
            <div class="heroImage"></div>
            <div class="heroText">
                <p class="mainText">A new tool to help you express yourself</p>
                <p class="subText">Built to take the work out of writing<br>Perfect for copywriters, with built in resources to boost productivity</p>
                <button>Get Started</button>
            </div>
        </div>
    </section>
</body>
</html>