<!-- This is the base template every other webpage inherits from to avoid repetitive code -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Between the code-blocks below, all unique code (for the head block) for each webpage will be inserted -->
    {% block head %}{% endblock head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- The block below allows changing each page's title easily from app.py -->
    {% if title %}
    <title>Lytrally - {{ title }}</title>
    {% else %}
    <title>Lytrally</title>
    {% endif %}
    <!-- <base href="/project-lytrally/"> -->
    <link rel="stylesheet" href="../static/style/fontawesome.min.css" />
    <link rel="stylesheet" href="../static/style/all.min.css" />
    <link rel="stylesheet" href="../static/style/solid.css" />
    <link rel="stylesheet" href="../static/style/solid.min.css" />
  </head>
  <body>
    <nav>
      <div class="s-screen">
        <div class="navBar">
          <h1><a href="../templates/index.html">Lytrally</a></h1>
          <i id="openNav" onclick="openNavBar()" class="fa-solid fa-bars"></i>
        </div>
        <div class="navDisplay">
          <a class="navA" href="#">Home</a>
          <a class="navA" href="#">Service</a>
          <a class="navA" href="#">Contact Us</a>
          <a class="navA" href="#">About</a>
          <!-- <a class="navA" href="{{ url_for('signup') }}">Sign Up</a> -->
          <a id="signIn" class="navA" href="/signin">Sign In</a>
        </div>
      </div>
      <div class="l-screen">
        <h1><a href="../templates/index.html">Lytrally</a></h1>
        <div class="navlinks">
          <a href="../templates/index.html">Home</a>
          <a href="#">Service</a>
          <a href="#">Contact Us</a>
          <!-- <button><a href="../templates/signup.html">Sign Up</a></button> -->
          <button><a href="/signin">Sign In</a></button>
        </div>
      </div>
    </nav>
    <!-- Between the code-blocks below, all unique code (for the body block) for each webpage will be inserted -->
    {% block body %}{% endblock body %}
  </body>
</html>
