<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lytrally</title>
    <!-- <base href="/project-lytrally/"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/signin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/solid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/solid.min.css') }}">
</head>
<body>
    <section class="container">
        <h4>Sign in into your Lytrally account</h4>
        <button>
            <img src="{{ url_for('static', filename='images/google.png') }}" alt="Google Icon">
            Continue with Google
        </button>
        <button>
            <img src="{{ url_for('static', filename='images/facebook.png') }}" alt="Facebook Icon">
            Continue with Facebook
        </button>
        <div class="signInContainer">
            <form action="#" id="signin_form" autocomplete="on" method="post">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
                <a href="{{ url_for('forgot_password') }}">Forgotten Password</a>
                <button id="submit">Sign In</button>
            </form>
        </div>
        <a href="{{ url_for('signup') }}" class="noAccount">Do not have an account</a>
    </section>
</body>
</html>
