<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lytrally</title>
    <base href="/project-lytrally/">
    <link rel="stylesheet" href="style/signup.css">
    <link rel="stylesheet" href="style/fontawesome.min.css">
    <link rel="stylesheet" href="style/all.min.css">
    <link rel="stylesheet" href="style/solid.css">
    <link rel="stylesheet" href="style/solid.min.css">
</head>
<body>
    <nav>
        <div class="profileImg"></div>
    </nav>
    <section class="container">
        <div class="signUpContainer">
            <form action="#" id="signup_form" autocomplete="on" method="post">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="password" id="confirmPassword">
                <button id="submit">Sign Up</button>
                <a href="./signin.html">Or Sign In</a>
            </form>
        </div>
    </section>
</body>
</html>