* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container {
    width: 100%;
    padding-inline: 33px;
    padding-block: 59px;
    background: #F3F6FC;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding-bottom: 0;
}
.container > h4 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 38px;
}
.container button {
    width: 100%;
    height: 70px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    border-radius: 20px;
    border: 3px solid #000;
    padding: 20px 36px;
    background: #FFF;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 23px;
}
.container button > img {
    width: 25px;
    height: 25px;
    margin-right: 24.55px;
}
#signin_form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.signInContainer label {
    display: block;
    margin-left: 28px;
    margin-bottom: 10px;
    color: #000;
    /* text-align: center; */
    font-family: Roboto Slab;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 26.4px */
}
.signInContainer input {
    display: block;
    margin-bottom: 30px;
    padding-inline: 16px;
    border-radius: 20px;
    border: 3px solid #000;
    background: #FFF;
    font-size: 20px;
    width: 80%;
    height: 60px;
    flex-shrink: 0;
    transition: width 2s ease-in-out;
}
.signInContainer input:focus {
    width: 100%;
    outline: none;
}
.signInContainer button {
    display: inline-flex;
    width: 150px;
    padding: 21px 37px;
    text-align: right;
    justify-content: center;
    align-items: flex-end;
    border-radius: 30px;
    background: #8A9AC5;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 20px; */
}
.signInContainer a {
    display: block;
    width: 183px;
    text-align: right;
    margin-bottom: 10px;
    margin-left: auto;
    color: #000;
    font-family: Inria Serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.noAccount {
    width: 214px;
    text-align: right;
    margin-left: auto;
    color: #000;
    font-family: Inria Serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 25px;
}
.container a:hover {
    color: #8A9AC5;
}
.container button:hover {
    opacity: 0.8;
}
@media screen and (min-width: 720px) {
    .container {
        padding-inline: 105px;
    }
    .container button {
        width: 560px;
        color: #000;
        font-family: Inter;
        font-size: 36px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    .container button > img {
        width: 48px;
        height: 48px;
        margin-right: 24.55px;
    }
    .signInContainer {
        width: 560px;
    }
    .signInContainer button {
        width: 560px;
        margin-left: auto;
        margin-right: auto;
    }
    .signInContainer input:focus {
        width: 560px;
    }
    .signInContainer a {
        color: #000;
        font-family: Inria Serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        padding-inline: 108px;
        padding-block: 37px;
    }
    .signInContainer label {
        margin-left: 45px;
        margin-bottom: 25px;
        font-size: 32px;
    }
    .signInContainer input {
        margin-bottom: 29px;
        width: 500px;
        height: 70px;
        flex-shrink: 0;
        border-radius: 20px;
        border: 3px solid #000;
        background: #FFF;
        transition: width 2s ease-in-out;
    }
    .signInContainer input:focus {
        width: 560px;
    }
}

@media screen and (min-width: 1444px) {
    .signInContainer {
        padding-inline: 108px;
        padding-block: 37px;
    }
    .signInContainer label {
        margin-left: 45px;
        margin-bottom: 29px;
        font-size: 32px;
    }
    .signInContainer input {
        margin-bottom: 29px;
        width: 500px;
        height: 91px;
        flex-shrink: 0;
        border-radius: 20px;
        border: 3px solid #000;
        background: #FFF;
        transition: width 2s ease-in-out;
    }
    .signInContainer input:focus {
        width: 560px;
    }
}